<div class="container-fluid mt-3">
    <h1>Create Flex-layout </h1>
    <div class="row">
      <div class="col-sm-3 p-3 bg-primary text-white">
        <h2>Pradeep</h2>
      </div>
      <div class="col-sm-3 p-3 bg-dark text-white">.col</div>
      <div class="col-sm-3 p-3 bg-primary text-white">.col</div>
      <div class="col-sm-3 p-3 bg-dark text-white">.col</div>
    </div>
  </div>
  <body>
    <br>
    <div class="container cbox">
        <div class="row">

            <div class="col-sm-3 dbox">
                <h2>TACOS</h2>
            </div>
            <div class="col-sm-3 dbox">
                <h2>BEERS</h2>
            </div>
            <div class="col-sm-3 dbox">
                <h2>WINES</h2>
            </div>
            <div class="col-sm-3 dbox">
                <h2>DESSERTS</h2>
            </div>
            <div class="col-sm-8 ebox">
                <img src="pasta123456.png" class="img-circle" alt="Cinque Terre" width="304" height="236">
            </div>
            <div class="col-sm-4 ebox">
                <div class="col-sm-11.5 fbox ">
                    <h1 class="text-center">
                        <p class="price">$1.99</p>
                    </h1>

                    <h4 class="text-center">Tocas</h4>
                </div>
                <div class="col-sm-11.5 fbox">
                    <h1 class="text-center">
                        <p class="price">$3.99</p>
                    </h1>
                    <h4 class="text-center">Kombucha</h4>
                </div>
            </div>
            <div class="col-sm-3 fbox">
                <div class="row justify-content-center">
                <i class="fa fa-gift fa-3x"></i>
                </div>
                <div class="row justify-content-center">
                <h4 class="text-center">Gift</h4>
                <h6 class="text-center">A gift or a present is an item given to someone without the expectation of payment or anything in return.</h6>
                </div>
            </div>
            <div class="col-sm-3 fbox">
                <div class="row justify-content-center">
                <i class="fa fa-bath fa-3x "></i>
                </div>
                <div class="row justify-content-center">
                <h4 class="text-center">Bath</h4>
                <h6 class="text-center">a washing or immersion of something, especially the body, in water, steam, etc.,.</h6>
                </div>
            </div>
            <div class="col-sm-3 fbox">
                <div class="row justify-content-center">
                <i class="fa fa-car fa-3x"></i>
            </div>
                <div class="row justify-content-center">
                <h4 class="text-center">Car</h4>
                <h6 class="text-center">a wheeled motor vehicle used for transportation . Most definitions of car say they run primarily on
                    roads,.</h6>
                </div>
            </div>
            <div class="col-sm-3 fbox">
                <div class="row justify-content-center">
                <i class="fa fa-camera-retro fa-3x"></i>
            </div>
                <div class="row justify-content-center">
                <h4 class="text-center">Camera</h4>
                <h6 class="text-center">A camera is an optical instrument that captures a visual image. At a basic level,.</h6>
            </div>
        </div>
            <div class="col-sm-12 gbox">xyz</div>
        </div>
    </div>
