
<div>
<a routerLink="users">Users</a>&nbsp;&nbsp;
<a routerLink="newuser">NewUser</a>&nbsp;&nbsp;
<a routerLink="customer">Customer</a>&nbsp;&nbsp;
<a routerLink="flex-lay-out">flex-lay-out</a>&nbsp;&nbsp;
<a routerLink="register-form">register</a>
</div>



 <!-- <table  border="1">
    <tr>
        <th>id_no</th>
        <td>user_name</td>
        <td>password</td>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.id_no}}</td>
        <td>{{user.user_name}}</td>
        <td>{{user.password}}</td>
    </tr>

 </table> -->

<router-outlet></router-outlet>
