
<form [formGroup]="form">

    <div>
      <label>Username</label>
      <input type="text" class="forms-control" formControlName="name">
        <div *ngIf="submitted && form.controls['name'].invalid && form.controls['name'].touched" class="text-danger">
          <small *ngIf="submitted && form.controls['name'].errors && form.controls['name'].errors['required']">Name is required</small>
        </div>
    </div>
    <br>
    <div>
      <label>EmailId</label>
      <input type="text" class="forms-control" formControlName="email">
      <div *ngIf="submitted && form.controls['email'].invalid && form.controls['email'].touched" class="text-danger">
        <small *ngIf="submitted && form.controls['email'].errors && form.controls['email'].errors['required']">email is required</small>
      </div>
    </div>
    <br>
    <div>
      <label>Phone</label>
      <input type="text" class="forms-control" formControlName="phone">
      <div *ngIf="submitted && form.controls['phone'].invalid && form.controls['phone'].touched" class="text-danger">
        <small *ngIf="submitted && form.controls['phone'].errors && form.controls['phone'].errors['required']">Phone is required</small>
        <small *ngIf="submitted && form.controls['phone'].errors && form.controls['phone'].errors['minlength']">3 number required</small>
        <small *ngIf="submitted && form.controls['phone'].errors && form.controls['phone'].errors['maxlength']">9 number required</small>
      </div>
    </div>
    <br>
    <div>
      <button type="submit" (click)="signUp()" class="btn btn-danger">Button</button>
    </div>
  </form>
  
